@import '../abstracts/mixins';
@import '../abstracts/variables';

.Nav__navigation-options{
    background-color: var(--orange);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    
    .link__navigation-option-home{
        @include link-navigation-options(110px);
    }
    .link__navigation-option-about{
        @include link-navigation-options(30px);
    }
}