@import '../abstracts/variables';

.main__about-container{
    margin:auto;
    width: 800px;
    height: 100vh;
    background-color: var(--white);

    .div__about-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     
        .img__about-image{
            margin: 150px 40px;
            width: 350px;
            height: 400px;
            border-radius: 20px;
            box-shadow: 0px 0px 4px 1px var(--gray);
        }

        .div__about-text{
            margin: 20px 40px 20px 0px;
            .h1__name-author{
                font-size: 20px;
                color: var(--orange);
            }
            .strong__subtitles-datos{
                color: var(--orange);
            }
            .p__data-descriptions{
                font-size: 16px;
                padding-top: 40px;
            }
            ul{
                padding-top: 10px;
                li{
                    padding-top: 10px;
                }
            }
        }
    }
}
