@import '../abstracts/variables';
@import '../abstracts/mixins';

.main__not-found-container{
    margin:auto;
    width: 800px;
    height: 100vh;
    background-color: var(--white);

    .div__not-found-container{
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .h1__error-title{
            color: var(--orange);
            font-size: 40px;
        }

        .p__error-description{
            font-size: 20px;
            font-weight: bold;
            margin: 16px 0px;
        }
        
        .btn-get-back-home{
            @include btn-buttons-options-details( var(--white), var(--orange), var(--orange-hover));
        }
    }

}